<!doctype html>
<title>{% block title %}{% endblock %} </title>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<div class="topnav">
  <img src="{{ url_for('static', filename='applogo.png') }}">
  <span><h2>IP on Security Appliance</h2></span>
</div>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>